{
  "openapi": "3.0.3",
  "info": {
    "title": "Kolm API",
    "version": "1.0.0",
    "description": "HTTP contract for the kolm compiler. Self-hosted (your own kolm server) and kolm.ai (managed) speak the exact same /v1 surface. JSON in, JSON out, bearer or X-Kolm-Key auth. Every successful run produces an HMAC-signed receipt over (cid, input, output, ts, k_score).",
    "termsOfService": "https://kolm.ai/terms",
    "contact": {
      "name": "kolm",
      "url": "https://kolm.ai",
      "email": "hello@kolm.ai"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://kolm.ai",
      "description": "Managed production"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local dev (kolm serve)"
    }
  ],
  "tags": [
    {
      "name": "account",
      "description": "Account"
    },
    {
      "name": "admin",
      "description": "Admin"
    },
    {
      "name": "agents",
      "description": "Agents"
    },
    {
      "name": "anon",
      "description": "Anonymous bootstrap"
    },
    {
      "name": "artifact",
      "description": "Artifact"
    },
    {
      "name": "artifacts",
      "description": "Artifacts"
    },
    {
      "name": "assistant",
      "description": "Assistant"
    },
    {
      "name": "audio",
      "description": "Audio"
    },
    {
      "name": "audit",
      "description": "Audit"
    },
    {
      "name": "bakeoff",
      "description": "Bakeoff"
    },
    {
      "name": "bakeoffs",
      "description": "Bakeoffs"
    },
    {
      "name": "billing",
      "description": "Billing"
    },
    {
      "name": "bridges",
      "description": "Bridges"
    },
    {
      "name": "build",
      "description": "Build"
    },
    {
      "name": "builder",
      "description": "Builder"
    },
    {
      "name": "builds",
      "description": "Builds"
    },
    {
      "name": "byoc",
      "description": "Bring-your-own-cloud"
    },
    {
      "name": "capability",
      "description": "Capability"
    },
    {
      "name": "capture",
      "description": "Capture"
    },
    {
      "name": "cc",
      "description": "Cc"
    },
    {
      "name": "changelog",
      "description": "Changelog"
    },
    {
      "name": "chat",
      "description": "OpenAI-compatible chat"
    },
    {
      "name": "cid",
      "description": "Cid"
    },
    {
      "name": "cloud",
      "description": "Cloud"
    },
    {
      "name": "compile",
      "description": "Compile"
    },
    {
      "name": "compliance",
      "description": "Compliance"
    },
    {
      "name": "compose",
      "description": "Compose"
    },
    {
      "name": "concepts",
      "description": "Concepts"
    },
    {
      "name": "connectors",
      "description": "Connectors"
    },
    {
      "name": "credential",
      "description": "Credential"
    },
    {
      "name": "datasets",
      "description": "Datasets"
    },
    {
      "name": "device",
      "description": "Device"
    },
    {
      "name": "devices",
      "description": "Devices"
    },
    {
      "name": "distill",
      "description": "Distill"
    },
    {
      "name": "drift",
      "description": "Drift"
    },
    {
      "name": "embed",
      "description": "Embed"
    },
    {
      "name": "embeddings",
      "description": "Embeddings"
    },
    {
      "name": "eval",
      "description": "Evaluation"
    },
    {
      "name": "evidence",
      "description": "Evidence"
    },
    {
      "name": "federated",
      "description": "Federated"
    },
    {
      "name": "fl",
      "description": "Fl"
    },
    {
      "name": "gemini",
      "description": "Gemini"
    },
    {
      "name": "health",
      "description": "Health"
    },
    {
      "name": "hub",
      "description": "Hub"
    },
    {
      "name": "intent",
      "description": "Intent"
    },
    {
      "name": "ir",
      "description": "Ir"
    },
    {
      "name": "jobs",
      "description": "Jobs"
    },
    {
      "name": "keys",
      "description": "Keys"
    },
    {
      "name": "label-queue",
      "description": "Label Queue"
    },
    {
      "name": "labels",
      "description": "Labels"
    },
    {
      "name": "lake",
      "description": "Lake"
    },
    {
      "name": "lead",
      "description": "Lead"
    },
    {
      "name": "library",
      "description": "Library"
    },
    {
      "name": "lineage",
      "description": "Lineage"
    },
    {
      "name": "loop",
      "description": "Value-loop"
    },
    {
      "name": "marketplace",
      "description": "Marketplace"
    },
    {
      "name": "media",
      "description": "Media"
    },
    {
      "name": "memory",
      "description": "Memory"
    },
    {
      "name": "messages",
      "description": "Anthropic-compatible messages"
    },
    {
      "name": "models",
      "description": "Models"
    },
    {
      "name": "moderations",
      "description": "Moderations"
    },
    {
      "name": "multimodal",
      "description": "Multimodal"
    },
    {
      "name": "nl",
      "description": "Nl"
    },
    {
      "name": "notifications",
      "description": "Notifications"
    },
    {
      "name": "oauth",
      "description": "OAuth"
    },
    {
      "name": "openrouter",
      "description": "Openrouter"
    },
    {
      "name": "opportunities",
      "description": "Opportunities"
    },
    {
      "name": "packages",
      "description": "Packages"
    },
    {
      "name": "pipeline",
      "description": "Pipeline"
    },
    {
      "name": "plans",
      "description": "Plans"
    },
    {
      "name": "pricing",
      "description": "Pricing"
    },
    {
      "name": "privacy",
      "description": "Privacy"
    },
    {
      "name": "product",
      "description": "Product"
    },
    {
      "name": "public",
      "description": "Public"
    },
    {
      "name": "publish",
      "description": "Publish"
    },
    {
      "name": "quantization",
      "description": "Quantization"
    },
    {
      "name": "recall",
      "description": "Recall"
    },
    {
      "name": "receipts",
      "description": "Receipts"
    },
    {
      "name": "recipes",
      "description": "Recipes"
    },
    {
      "name": "redact",
      "description": "Redact"
    },
    {
      "name": "registry",
      "description": "Registry"
    },
    {
      "name": "replay",
      "description": "Replay"
    },
    {
      "name": "responses",
      "description": "OpenAI Responses"
    },
    {
      "name": "run",
      "description": "Run"
    },
    {
      "name": "runtime",
      "description": "Runtime"
    },
    {
      "name": "scim",
      "description": "Scim"
    },
    {
      "name": "search",
      "description": "Search"
    },
    {
      "name": "seeds",
      "description": "Seeds"
    },
    {
      "name": "session",
      "description": "Session"
    },
    {
      "name": "signin",
      "description": "Sign in"
    },
    {
      "name": "signout",
      "description": "Sign out"
    },
    {
      "name": "signup",
      "description": "Sign up"
    },
    {
      "name": "sigstore",
      "description": "Sigstore"
    },
    {
      "name": "sim",
      "description": "Simulation"
    },
    {
      "name": "simulations",
      "description": "Simulations"
    },
    {
      "name": "spec",
      "description": "Spec"
    },
    {
      "name": "spec-decode",
      "description": "Spec Decode"
    },
    {
      "name": "specialists",
      "description": "Specialists"
    },
    {
      "name": "status",
      "description": "Status"
    },
    {
      "name": "storage",
      "description": "Storage"
    },
    {
      "name": "streaming",
      "description": "Streaming"
    },
    {
      "name": "stripe",
      "description": "Stripe"
    },
    {
      "name": "sync",
      "description": "Sync"
    },
    {
      "name": "synthesize",
      "description": "Synthesis"
    },
    {
      "name": "system",
      "description": "System"
    },
    {
      "name": "team",
      "description": "Team"
    },
    {
      "name": "teams",
      "description": "Teams"
    },
    {
      "name": "telemetry",
      "description": "Telemetry"
    },
    {
      "name": "trace",
      "description": "Trace"
    },
    {
      "name": "training",
      "description": "Training"
    },
    {
      "name": "tunnel",
      "description": "Tunnel"
    },
    {
      "name": "tunnels",
      "description": "Tunnels"
    },
    {
      "name": "verified-inference",
      "description": "Verified inference"
    },
    {
      "name": "verify",
      "description": "Verify"
    },
    {
      "name": "whoami",
      "description": "Whoami"
    },
    {
      "name": "workflows",
      "description": "Workflows"
    },
    {
      "name": "wrap",
      "description": "Wrap"
    }
  ],
  "paths": {
    "/anthropic/v1/messages": {
      "post": {
        "tags": [
          "system"
        ],
        "operationId": "postAnthropicV1Messages",
        "summary": "/anthropic/v1/messages so SDKs that point BASE_URL at https://kolm.ai/anthropic",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Anthropic messages alias - same connector as /v1/messages, mounted under /anthropic/v1/messages so SDKs that point BASE_URL at https://kolm.ai/anthropic continue to work without rewriting the path."
      }
    },
    "/health": {
      "get": {
        "tags": [
          "system"
        ],
        "operationId": "getHealth",
        "summary": "Public /health – no provider-key leakage. Authenticated callers can",
        "description": "Public /health – no provider-key leakage. Authenticated callers can hit /v1/health for the full snapshot including backend availability.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ready": {
      "get": {
        "tags": [
          "system"
        ],
        "operationId": "getReady",
        "summary": "Deploy readiness: public, low-detail, and suitable for platform health",
        "description": "Deploy readiness: public, low-detail, and suitable for platform health gates. /health stays green for static uptime; /ready fails when critical production-only configuration is missing.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Current account: plan, compile count, remaining quota, API key.",
        "responses": {
          "200": {
            "description": "Account snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/account/audit-log": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountAuditlog",
        "summary": "W409f – /v1/account/audit-log surfaces the audit ledger for the calling",
        "description": "W409f – /v1/account/audit-log surfaces the audit ledger for the calling tenant. The audit-log.html page renders {entries:[{at,actor,op,payload}]}. W448 – added ?format=csv (defaults to json) so the page's export button and `kolm audit --format csv` CLI verb hit the same route. Also added ?since=<iso|epoch> filter so the CLI can scope to a recent window.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/cancel": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountCancel",
        "summary": "Self-serve cancel / downgrade-to-free. Any paid tenant can drop to the",
        "description": "Self-serve cancel / downgrade-to-free. Any paid tenant can drop to the free tier without contacting anyone.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/change-plan": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountChangeplan",
        "summary": "Self-serve plan changes. Free is applied instantly (this is also the",
        "description": "Self-serve plan changes. Free is applied instantly (this is also the downgrade / cancel path). Paid plans return a Stripe Payment Link with `client_reference_id=<tenant_id>`; the plan is flipped only when the webhook receives `checkout.session.completed`. This guarantees the tenant cannot get paid features without paying.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/compliance-package": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountCompliancepackage",
        "summary": "can read end-to-end. Tenant metadata + signed receipts + audit log +",
        "description": "can read end-to-end. Tenant metadata + signed receipts + audit log + BAA-ready org details + control mapping snapshot. JSON only (no PHI ever transits this endpoint – receipts are payload-free by design). Auditors who want a literal ZIP can pipe `curl ... | jq -r .b64_zip | base64 -d`, but the JSON shape is the canonical artifact.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/delete": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountDelete",
        "summary": "Self-serve account delete. Soft-delete the tenant; receipts and artifacts",
        "description": "Self-serve account delete. Soft-delete the tenant; receipts and artifacts already shipped to users keep verifying since the cloud signing key is unchanged. The tenant can no longer authenticate. If they had an active Stripe subscription we ask Stripe to cancel it so they aren't charged again – best-effort, never blocks deletion.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/export": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountExport",
        "summary": "Self-serve data export (/privacy promises this). Returns a JSON bundle",
        "description": "Self-serve data export (/privacy promises this). Returns a JSON bundle of the tenant's row plus every concept, compile job, observation, and invocation we have on file for them. We strip secrets (api_key_hash, stripe_customer_id keeps existing for portability, billing tokens drop). Content-Disposition nudges browsers to save the file.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/keys": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountKeys",
        "summary": "Account API key list - returns the tenant primary key metadata without the raw secret.",
        "description": "Account API key list - returns the tenant primary key metadata without the raw secret.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountKeys",
        "summary": "Account API key create - rotates the tenant primary key and audits the requested label.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account API key create - rotates the tenant primary key and audits the requested label."
      }
    },
    "/v1/account/keys/{prefix}": {
      "delete": {
        "tags": [
          "account"
        ],
        "operationId": "deleteV1AccountKeysPrefix",
        "summary": "Account API key revoke - rotates away a key prefix and returns the replacement secret.",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "prefix path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account API key revoke - rotates away a key prefix and returns the replacement secret."
      }
    },
    "/v1/account/receipt-secret/prune": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountReceiptsecretPrune",
        "summary": "Drop a specific previous key from the verification ring. Receipts signed",
        "description": "Drop a specific previous key from the verification ring. Receipts signed with that key will no longer verify against this tenant after this call. The current key cannot be pruned – rotate first to retire it.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/receipt-secrets": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountReceiptsecrets",
        "summary": "List receipt-signing key metadata for the calling tenant. Secrets are",
        "description": "List receipt-signing key metadata for the calling tenant. Secrets are never returned – only the key_id, status, and rotation timestamps.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/rotate-key": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountRotatekey",
        "summary": "Account API key rotation - rotates the tenant's primary API key and returns the new secret.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account API key rotation - rotates the tenant's primary API key and returns the new secret."
      }
    },
    "/v1/account/rotate-receipt-secret": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountRotatereceiptsecret",
        "summary": "Rotate the per-tenant receipt-signing secret. Previous secret is",
        "description": "Rotate the per-tenant receipt-signing secret. Previous secret is preserved so older signed artifacts and audit rows still verify.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/saml/metadata": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountSamlMetadata",
        "summary": "SP metadata is a static document an IdP fetches at federation-config",
        "description": "SP metadata is a static document an IdP fetches at federation-config time. It does NOT depend on entitlement (publishing the SP entity ID is fine even for tenants who can't yet bind to it).",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/settings": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountSettings",
        "summary": "Account settings read - returns tenant settings merged with current defaults.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account settings read - returns tenant settings merged with current defaults."
      },
      "put": {
        "tags": [
          "account"
        ],
        "operationId": "putV1AccountSettings",
        "summary": "Account settings update - persists whitelisted tenant settings and audits changed fields.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account settings update - persists whitelisted tenant settings and audits changed fields."
      }
    },
    "/v1/account/sso/configure": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountSsoConfigure",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/sso/status": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountSsoStatus",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/admin/audit": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminAudit",
        "summary": "Admin audit feed - newest audit events with tenant and operation metadata.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin audit feed - newest audit events with tenant and operation metadata."
      }
    },
    "/v1/admin/compile-jobs": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminCompilejobs",
        "summary": "Admin compile job feed - newest compile jobs with tenant, task, status, and score.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin compile job feed - newest compile jobs with tenant, task, status, and score."
      }
    },
    "/v1/admin/diagnostics": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminDiagnostics",
        "summary": "Admin diagnostics - checks data/artifact directories and selected runtime env flags.",
        "description": "Admin diagnostics - checks data/artifact directories and selected runtime env flags.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/admin/health": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminHealth",
        "summary": "Admin health snapshot - process, store, memory, region, and integration flags.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin health snapshot - process, store, memory, region, and integration flags."
      }
    },
    "/v1/admin/stats": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminStats",
        "summary": "Admin stats - aggregate tenants, usage, compile jobs, and audit-event counts.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin stats - aggregate tenants, usage, compile jobs, and audit-event counts."
      }
    },
    "/v1/admin/submissions": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminSubmissions",
        "summary": "Admin submissions list - returns all submitted project/contact records.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin submissions list - returns all submitted project/contact records."
      }
    },
    "/v1/admin/tenant": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "postV1AdminTenant",
        "summary": "Admin tenant provision - creates a tenant with quota and returns its API key.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin tenant provision - creates a tenant with quota and returns its API key."
      }
    },
    "/v1/admin/tenants": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminTenants",
        "summary": "Admin tenant list - scrubbed cross-tenant view with q/limit filters.",
        "description": "Admin tenant list - scrubbed cross-tenant view with q/limit filters.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/admin/waitlist": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminWaitlist",
        "summary": "Admin waitlist list - returns all waitlist rows for admin triage.",
        "description": "Admin waitlist list - returns all waitlist rows for admin triage.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1Agents",
        "summary": "W424 – agent telemetry routes fence on req.tenant_record and forward",
        "description": "W424 – agent telemetry routes fence on req.tenant_record and forward req.tenant_record.id as tenant_id into the helper so cross-tenant rows never appear in the rollup. _tenantScope() returns null for admin (cross-tenant reads allowed) and the canonical tenant_id otherwise.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/agents/failing": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsFailing",
        "summary": "Top failing agent sessions for the caller's tenant.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Top failing agent sessions for the caller's tenant."
      }
    },
    "/v1/agents/recommend": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsRecommend",
        "summary": "Agent model recommendation for a tenant-scoped application and task hint.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Agent model recommendation for a tenant-scoped application and task hint."
      }
    },
    "/v1/agents/sessions": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsSessions",
        "summary": "Agent sessions list for the caller's tenant.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Agent sessions list for the caller's tenant."
      }
    },
    "/v1/agents/sessions/{id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsSessionsId",
        "summary": "Agent session detail scoped to the caller's tenant.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Agent session detail scoped to the caller's tenant."
      }
    },
    "/v1/agents/stats": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsStats",
        "summary": "Agent telemetry aggregate stats for the caller's tenant.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Agent telemetry aggregate stats for the caller's tenant."
      }
    },
    "/v1/anon/bootstrap": {
      "post": {
        "tags": [
          "anon"
        ],
        "operationId": "postV1AnonBootstrap",
        "summary": "Anonymous CLI auth (robots / agents)",
        "description": "Anonymous CLI auth (robots / agents) Bootstrap: returns an anon_token that the CLI stores locally. 30-day TTL. No email, no signup. Designed for agents that need to start working in <1 second.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/anon/claim": {
      "post": {
        "tags": [
          "anon"
        ],
        "operationId": "postV1AnonClaim",
        "summary": "Claim: convert an anonymous workspace into a permanent account.",
        "description": "Claim: convert an anonymous workspace into a permanent account. if email matches an existing real tenant: merge the anon's recipes into it, return existing key else: upgrade the anon tenant in-place to a real tenant, rotate to ks_*, return new key",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/artifact/verify-manifest": {
      "post": {
        "tags": [
          "artifact"
        ],
        "operationId": "postV1ArtifactVerifymanifest",
        "summary": "for callers that have the manifest hashes block in hand (e.g. a CLI",
        "description": "for callers that have the manifest hashes block in hand (e.g. a CLI that just downloaded the artifact and parsed its manifest.json). No auth required – the check is pure: recompute CID from hashes, compare to the claimed CID. Returns `manifest_hash_mismatch` envelope on disagreement, `verified:true` + recomputed cid on match.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/artifacts": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "operationId": "getV1Artifacts",
        "summary": "Artifact list - exposes completed compile jobs as artifact records with hashes and downloads.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Artifact list - exposes completed compile jobs as artifact records with hashes and downloads."
      }
    },
    "/v1/artifacts/dependency-graph": {
      "post": {
        "tags": [
          "artifacts"
        ],
        "operationId": "postV1ArtifactsDependencygraph",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/artifacts/{id}": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "operationId": "getV1ArtifactsId",
        "summary": "Artifact detail - returns one tenant-scoped compile artifact by job id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Artifact detail - returns one tenant-scoped compile artifact by job id."
      }
    },
    "/v1/artifacts/{id}/download": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "operationId": "getV1ArtifactsIdDownload",
        "summary": "Artifact download - streams the completed artifact zip by id with readiness/expiry errors.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Artifact download - streams the completed artifact zip by id with readiness/expiry errors."
      }
    },
    "/v1/assistant": {
      "post": {
        "tags": [
          "assistant"
        ],
        "operationId": "postV1Assistant",
        "summary": "Natural-language assistant",
        "description": "Natural-language assistant POST /v1/assistant { prompt } returns a parsed-intent action + result. Scoped to req.tenant_record; never calls an external LLM; deterministic.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "tags": [
          "audio"
        ],
        "operationId": "postV1AudioSpeech",
        "summary": "W409k – audio routes. Real proxy when configured; fixture returns deterministic",
        "description": "W409k – audio routes. Real proxy when configured; fixture returns deterministic bodies; otherwise honest 501 with a structured \"not yet supported\" envelope so SDKs see something better than 404. These concrete audio endpoints use the OpenAI connector when a key is present.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "tags": [
          "audio"
        ],
        "operationId": "postV1AudioTranscriptions",
        "summary": "W409k – audio routes. Real proxy when configured; fixture returns deterministic",
        "description": "W409k – audio routes. Real proxy when configured; fixture returns deterministic bodies; otherwise honest 501 with a structured \"not yet supported\" envelope so SDKs see something better than 404. These concrete audio endpoints use the OpenAI connector when a key is present.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/audio/translations": {
      "post": {
        "tags": [
          "audio"
        ],
        "operationId": "postV1AudioTranslations",
        "summary": "W409k – audio routes. Real proxy when configured; fixture returns deterministic",
        "description": "W409k – audio routes. Real proxy when configured; fixture returns deterministic bodies; otherwise honest 501 with a structured \"not yet supported\" envelope so SDKs see something better than 404. These concrete audio endpoints use the OpenAI connector when a key is present.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/audit/log": {
      "get": {
        "tags": [
          "audit"
        ],
        "operationId": "getV1AuditLog",
        "summary": "write path with HMAC-chained signatures); this implementation gives the",
        "description": "write path with HMAC-chained signatures); this implementation gives the dashboard real entries from day one without that wiring. Probe-safe: when unauth'd, returns the same 200 envelope with entries=[] rather than 401/503 so frontend probes don't fall over.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/audit/verify": {
      "get": {
        "tags": [
          "audit"
        ],
        "operationId": "getV1AuditVerify",
        "summary": "Verify the HMAC chain over this tenant's audit_events rows. Returns",
        "description": "Verify the HMAC chain over this tenant's audit_events rows. Returns ok=true when every row hashes to its declared event_hash given the previous row's hash, ok=false with the list of breaks otherwise.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Exchange email + password for a bearer token.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/auth/signup": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Create a new account and issue a bearer token.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "Email already registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bakeoff/run": {
      "post": {
        "tags": [
          "bakeoff"
        ],
        "operationId": "postV1BakeoffRun",
        "summary": "Bakeoff run - evaluates a set of contestant models against a dataset and",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Bakeoff run - evaluates a set of contestant models against a dataset and returns ranked rows + winner. Body: { dataset_id (required), contestants, opts }. Used by /account/bakeoffs and `kolm bakeoff run`."
      }
    },
    "/v1/bakeoffs": {
      "get": {
        "tags": [
          "bakeoffs"
        ],
        "operationId": "getV1Bakeoffs",
        "summary": "/v1/bakeoffs – list + run alias for /v1/bakeoff/run. The bakeoff module",
        "description": "/v1/bakeoffs – list + run alias for /v1/bakeoff/run. The bakeoff module does not persist runs to a registry (each call returns a fresh result), so GET returns an empty array; the page already handles that shape via `{bakeoffs: []}` in its .catch fallback.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "bakeoffs"
        ],
        "operationId": "postV1Bakeoffs",
        "summary": "Bakeoffs run alias - SDK-friendly synonym for /v1/bakeoff/run with the",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Bakeoffs run alias - SDK-friendly synonym for /v1/bakeoff/run with the added W411 tenant fence at the dataset boundary (cross-tenant dataset_id returns 404). Same body: { dataset_id, contestants, opts }."
      }
    },
    "/v1/billing/breakdown": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "getV1BillingBreakdown",
        "summary": "it walks the team's member tenants and rolls up.",
        "description": "it walks the team's member tenants and rolls up. Tenant fence: tenant_id is forced from req.tenant_record.id – never read from the request body or query string. Team caller is forced to be a member of the named team (non-members get 403 forbidden).",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/billing/meters": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "getV1BillingMeters",
        "summary": "Returns the static catalog of legacy W384 meters merged with the W409y",
        "description": "Returns the static catalog of legacy W384 meters merged with the W409y billing-unit catalog (10 units the auditor signed off on). The W409y entries carry tier_soft + tier_hard limits resolved from the caller's tenant plan when an authenticated key is present.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/billing/tiers": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "getV1BillingTiers",
        "summary": "P0-3 closure: /v1/billing/tiers as a public alias of /v1/plans so the",
        "description": "P0-3 closure: /v1/billing/tiers as a public alias of /v1/plans so the CLI `kolm billing tiers` (+ alias `plans`) returns useful data without requiring auth. Includes a billing_configured flag tied to the actual STRIPE_PAYMENT_LINK_* env presence so the UI can demote when unwired.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/billing/usage": {
      "get": {
        "tags": [
          "billing"
        ],
        "operationId": "getV1BillingUsage",
        "summary": "Returns the current-period usage map for the caller's tenant. The",
        "description": "Returns the current-period usage map for the caller's tenant. The dashboard at /account/billing reads this endpoint; the CLI `kolm billing usage [--period]` hits it directly.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/bridges/auto-synthesize": {
      "post": {
        "tags": [
          "bridges"
        ],
        "operationId": "postV1BridgesAutosynthesize",
        "summary": "POST /v1/bridges/auto-synthesize – turn an observation cluster into a recipe.",
        "description": "POST /v1/bridges/auto-synthesize – turn an observation cluster into a recipe.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/bridges/observations": {
      "get": {
        "tags": [
          "bridges"
        ],
        "operationId": "getV1BridgesObservations",
        "summary": "GET /v1/bridges/observations – flat list of recent captures for the /captures inbox.",
        "description": "GET /v1/bridges/observations – flat list of recent captures for the /captures inbox. Filters: ?namespace=<ns> (optional), ?limit=<n> (default 50, max 200), ?include_discarded=1.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/bridges/observations/{id}": {
      "post": {
        "tags": [
          "bridges"
        ],
        "operationId": "postV1BridgesObservationsId",
        "summary": "POST /v1/bridges/observations/:id – soft-update an observation (keep/discard).",
        "description": "POST /v1/bridges/observations/:id – soft-update an observation (keep/discard). Body: { discarded: true } | { kept: true } | { discarded: false }. Tenant-scoped.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/bridges/observe": {
      "post": {
        "tags": [
          "bridges"
        ],
        "operationId": "postV1BridgesObserve",
        "summary": "POST /v1/bridges/observe – agents log a (model, prompt, response) tuple.",
        "description": "POST /v1/bridges/observe – agents log a (model, prompt, response) tuple. After ≥4 calls with the same template signature we surface a synthesis suggestion. W258-BE-1: persists via insertCapture (durable contract). 503 on store failure – same envelope as the capture proxy handlers.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/bridges/specialist-candidates": {
      "get": {
        "tags": [
          "bridges"
        ],
        "operationId": "getV1BridgesSpecialistcandidates",
        "summary": "GET /v1/bridges/specialist-candidates – recipes whose call volume justifies a Specialist.",
        "description": "GET /v1/bridges/specialist-candidates – recipes whose call volume justifies a Specialist.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/bridges/suggestions": {
      "get": {
        "tags": [
          "bridges"
        ],
        "operationId": "getV1BridgesSuggestions",
        "summary": "GET /v1/bridges/suggestions – recipe-synthesis suggestions clustered from observations.",
        "description": "GET /v1/bridges/suggestions – recipe-synthesis suggestions clustered from observations.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/build/preview": {
      "post": {
        "tags": [
          "build"
        ],
        "operationId": "postV1BuildPreview",
        "summary": "W347 – POST /v1/build/preview. Richer dry-run preview that powers the",
        "description": "W347 – POST /v1/build/preview. Richer dry-run preview that powers the builder UI's results pane: returns k_score, first 3 train rows, first 3 holdout rows, production_ready verdict + gate reasons, and the synth metadata. Public + rate-limited; no artifact write, no charge. Accepts {spec, seeds_jsonl_text}. Errors map to 400 (validation) or 500.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/build/strategy": {
      "get": {
        "tags": [
          "build"
        ],
        "operationId": "getV1BuildStrategy",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "build"
        ],
        "operationId": "postV1BuildStrategy",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/build/strategy/catalog": {
      "get": {
        "tags": [
          "build"
        ],
        "operationId": "getV1BuildStrategyCatalog",
        "summary": "Build strategy brain - shared planner for capture, prompt/RAG/routing,",
        "description": "Build strategy brain - shared planner for capture, prompt/RAG/routing, training, distillation, cloud compute, compilation, quantization, and local runtime. It never launches work and never returns secret values.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/builder/compile": {
      "post": {
        "tags": [
          "builder"
        ],
        "operationId": "postV1BuilderCompile",
        "summary": "{task, examples} payload into a real compile job. Validation matches",
        "description": "{task, examples} payload into a real compile job. Validation matches /v1/builder/preview so a Preview→Compile flow that passes preview also passes here; the only added requirement is the API key (handled by authMiddleware mounted above this line). Recipe class and namespace are forced so builder-originated artifacts are distinguishable in audits.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/builder/preview": {
      "post": {
        "tags": [
          "builder"
        ],
        "operationId": "postV1BuilderPreview",
        "summary": "POST /v1/builder/preview – synthesize a recipe and estimate K-score.",
        "description": "POST /v1/builder/preview – synthesize a recipe and estimate K-score. Rate-limited; no auth. Inputs are validated tightly so this cannot be used as a generic compute oracle. The 10 KB per-example cap matches the body limit on /v1/compile and keeps the synthesis cost bounded.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/builder/templates": {
      "get": {
        "tags": [
          "builder"
        ],
        "operationId": "getV1BuilderTemplates",
        "summary": "GET /v1/builder/templates – public list of starter templates.",
        "description": "GET /v1/builder/templates – public list of starter templates.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/builds": {
      "get": {
        "tags": [
          "builds"
        ],
        "operationId": "getV1Builds",
        "summary": "/v1/builds – aliases the compile-job list for /account/builds.html.",
        "description": "/v1/builds – aliases the compile-job list for /account/builds.html. builds.html expects {builds:[{job_id, status, ...}]}; the canonical /v1/compile/jobs returns {jobs:[...]}, so we adapt the shape here.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/byoc/attestation": {
      "post": {
        "tags": [
          "byoc"
        ],
        "operationId": "postV1ByocAttestation",
        "summary": "Attestation callback – UNAUTH (no API key). Identifies via enroll_token,",
        "description": "Attestation callback – UNAUTH (no API key). Identifies via enroll_token, which was minted by the deploy endpoint and embedded in the deploy script. The token is single-use-equivalent: if an attacker has the token they could spoof the public_url, but the deployment row is owned by a specific tenant_id and the URL is visible in their dashboard – they'll notice.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/byoc/deploy": {
      "post": {
        "tags": [
          "byoc"
        ],
        "operationId": "postV1ByocDeploy",
        "summary": "Customer deploys a .kolm artifact to their own Fly / AWS Nitro / GCP CVM",
        "description": "Customer deploys a .kolm artifact to their own Fly / AWS Nitro / GCP CVM / Azure CVM / Docker host. We issue a signed deploy manifest + a deploy script the customer runs. The deployed instance POSTs an attestation (image SHA, plus TEE measurement on confidential targets) back to /v1/byoc/attestation. kolm.ai never runs the artifact.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/byoc/deployments": {
      "get": {
        "tags": [
          "byoc"
        ],
        "operationId": "getV1ByocDeployments",
        "summary": "BYOC deployments list - returns tenant deployments, optionally team-scoped after membership check.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "BYOC deployments list - returns tenant deployments, optionally team-scoped after membership check."
      }
    },
    "/v1/byoc/deployments/{id}": {
      "get": {
        "tags": [
          "byoc"
        ],
        "operationId": "getV1ByocDeploymentsId",
        "summary": "BYOC deployment detail - returns one deployment owned by the tenant or one of their teams.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "BYOC deployment detail - returns one deployment owned by the tenant or one of their teams."
      },
      "delete": {
        "tags": [
          "byoc"
        ],
        "operationId": "deleteV1ByocDeploymentsId",
        "summary": "BYOC deployment teardown - marks an owned deployment torn down and hides it from listings.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "BYOC deployment teardown - marks an owned deployment torn down and hides it from listings."
      }
    },
    "/v1/byoc/targets": {
      "get": {
        "tags": [
          "byoc"
        ],
        "operationId": "getV1ByocTargets",
        "summary": "BYOC targets - lists supported deploy targets for the public form and CLI.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "BYOC targets - lists supported deploy targets for the public form and CLI."
      }
    },
    "/v1/capability/build": {
      "post": {
        "tags": [
          "capability"
        ],
        "operationId": "postV1CapabilityBuild",
        "summary": "Capability build - constructs a capability descriptor block from an",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Capability build - constructs a capability descriptor block from an artifact manifest, declaring what the artifact can do (modalities, budgets, K-floor, attestation requirements). Pairs with /v1/lineage/build."
      }
    },
    "/v1/capability/validate": {
      "post": {
        "tags": [
          "capability"
        ],
        "operationId": "postV1CapabilityValidate",
        "summary": "Capability validate - checks a capability descriptor block for structural",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Capability validate - checks a capability descriptor block for structural consistency and that declared budgets/K-floor are internally coherent. Returns {ok:true, block} on success, {ok:false, error} otherwise."
      }
    },
    "/v1/capture/anthropic": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureAnthropic",
        "summary": "POST /v1/capture/anthropic – proxy to Anthropic, capture the round-trip.",
        "description": "POST /v1/capture/anthropic – proxy to Anthropic, capture the round-trip. This regex route also accepts SDK-appended suffixes such as /v1/messages at runtime. The body is the upstream Anthropic Messages payload, unmodified.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/gemini": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureGemini",
        "summary": "base_url=https://kolm.ai/v1/capture/gemini and keep using chat.completions.",
        "description": "Gemini capture and OpenAI-compatible aliases. These route to Google's /v1beta/openai compatibility surface so OpenAI SDK clients can set base_url=https://kolm.ai/v1/capture/gemini and keep using chat.completions.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/gemini/chat/completions": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureGeminiChatCompletions",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/gemini/v1/chat/completions": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureGeminiV1ChatCompletions",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/health": {
      "get": {
        "tags": [
          "capture"
        ],
        "operationId": "getV1CaptureHealth",
        "summary": "GET /v1/capture/health – operator probe. Honest answer about whether",
        "description": "GET /v1/capture/health – operator probe. Honest answer about whether the next insertCapture call will persist beyond a single lambda. Used by the /captures + /security pages and the `kolm doctor` flow.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/log": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureLog",
        "summary": "POST /v1/capture/log – server-to-server batch insert of (input, output)",
        "description": "POST /v1/capture/log – server-to-server batch insert of (input, output) pairs into the capture corpus. Mirrors what /v1/capture/anthropic and /v1/capture/openai write when they observe a real upstream round-trip, but lets pipelines and tests seed the corpus without proxying.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/media": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureMedia",
        "summary": "Capture media - multipart upload endpoint for image/audio/video/blob",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Capture media - multipart upload endpoint for image/audio/video/blob captures. Streams parts through mediaStoreBlob and appends one event per blob to the tenant-scoped lake. Requires Content-Type: multipart/form-data."
      }
    },
    "/v1/capture/openai": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureOpenai",
        "summary": "POST /v1/capture/openai – same shape, OpenAI Chat Completions API.",
        "description": "POST /v1/capture/openai – same shape, OpenAI Chat Completions API.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/openrouter": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureOpenrouter",
        "summary": "OpenRouter capture and base-URL aliases. The direct base-URL forms support",
        "description": "OpenRouter capture and base-URL aliases. The direct base-URL forms support SDKs that point BASE_URL at https://kolm.ai/v1/openrouter.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/openrouter/chat/completions": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureOpenrouterChatCompletions",
        "summary": "OpenRouter capture chat completions alias for clients whose base URL is",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "OpenRouter capture chat completions alias for clients whose base URL is https://kolm.ai/v1/capture/openrouter and which append /chat/completions."
      }
    },
    "/v1/capture/openrouter/v1/chat/completions": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureOpenrouterV1ChatCompletions",
        "summary": "OpenRouter capture alias for SDKs that append the OpenAI chat-completions path.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "OpenRouter capture alias for SDKs that append the OpenAI chat-completions path."
      }
    },
    "/v1/capture/rbac/evaluate": {
      "post": {
        "tags": [
          "capture"
        ],
        "operationId": "postV1CaptureRbacEvaluate",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/rbac/policy": {
      "get": {
        "tags": [
          "capture"
        ],
        "operationId": "getV1CaptureRbacPolicy",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/capture/stream": {
      "get": {
        "tags": [
          "capture"
        ],
        "operationId": "getV1CaptureStream",
        "summary": "Payload shape is the CLI/UI contract (W258-BE-6): capture_id /",
        "description": "Payload shape is the CLI/UI contract (W258-BE-6): capture_id / captured_at / namespace / model / provider / latency_us / status / prompt_head / response_head / x_kolm_capture_durable. The raw store row is shimmed here so the dashboard and `kolm tail captures` see the same shape without one of them having to translate.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/cc/kinds": {
      "get": {
        "tags": [
          "cc"
        ],
        "operationId": "getV1CcKinds",
        "summary": "confidential compute",
        "description": "confidential compute",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/cc/shape/{kind}": {
      "get": {
        "tags": [
          "cc"
        ],
        "operationId": "getV1CcShapeKind",
        "summary": "Confidential-compute shape - returns the expected JSON shape for an",
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "kind path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Confidential-compute shape - returns the expected JSON shape for an attestation report of the given kind (pccs, snp-report, nitro-attestation, nras). 404 if the kind is unknown. Lets callers validate before /v1/cc/verify."
      }
    },
    "/v1/cc/verify": {
      "post": {
        "tags": [
          "cc"
        ],
        "operationId": "postV1CcVerify",
        "summary": "Confidential-compute verify - validates an attestation report against its",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
[...]
