{
  "openapi": "3.0.3",
  "info": {
    "title": "Kolm API",
    "version": "1.0.0",
    "description": "HTTP contract for the kolm compiler. Self-hosted (your own kolm server) and kolm.ai (managed) speak the exact same /v1 surface. JSON in, JSON out, bearer or X-Kolm-Key auth. Every successful run produces an HMAC-signed receipt over (cid, input, output, ts, k_score).",
    "termsOfService": "https://kolm.ai/terms",
    "contact": {
      "name": "kolm",
      "url": "https://kolm.ai",
      "email": "hello@kolm.ai"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://kolm.ai",
      "description": "Managed production"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local dev (kolm serve)"
    }
  ],
  "tags": [
    {
      "name": "ab",
      "description": "Ab"
    },
    {
      "name": "ab-tests",
      "description": "Ab Tests"
    },
    {
      "name": "account",
      "description": "Account"
    },
    {
      "name": "active-learning",
      "description": "Active Learning"
    },
    {
      "name": "admin",
      "description": "Admin"
    },
    {
      "name": "agents",
      "description": "Agents"
    },
    {
      "name": "airgap",
      "description": "Airgap"
    },
    {
      "name": "anon",
      "description": "Anonymous bootstrap"
    },
    {
      "name": "approvals",
      "description": "Approvals"
    },
    {
      "name": "artifact",
      "description": "Artifact"
    },
    {
      "name": "artifacts",
      "description": "Artifacts"
    },
    {
      "name": "assistant",
      "description": "Assistant"
    },
    {
      "name": "assurance",
      "description": "Assurance"
    },
    {
      "name": "audio",
      "description": "Audio"
    },
    {
      "name": "audit",
      "description": "Audit"
    },
    {
      "name": "auth",
      "description": "Auth"
    },
    {
      "name": "autopilot",
      "description": "Autopilot"
    },
    {
      "name": "bakeoff",
      "description": "Bakeoff"
    },
    {
      "name": "bakeoffs",
      "description": "Bakeoffs"
    },
    {
      "name": "bench",
      "description": "Bench"
    },
    {
      "name": "billing",
      "description": "Billing"
    },
    {
      "name": "bridges",
      "description": "Bridges"
    },
    {
      "name": "build",
      "description": "Build"
    },
    {
      "name": "builder",
      "description": "Builder"
    },
    {
      "name": "builds",
      "description": "Builds"
    },
    {
      "name": "bundle",
      "description": "Bundle"
    },
    {
      "name": "byoc",
      "description": "Bring-your-own-cloud"
    },
    {
      "name": "capability",
      "description": "Capability"
    },
    {
      "name": "capture",
      "description": "Capture"
    },
    {
      "name": "captures",
      "description": "Captures"
    },
    {
      "name": "carbon",
      "description": "Carbon"
    },
    {
      "name": "cc",
      "description": "Cc"
    },
    {
      "name": "changelog",
      "description": "Changelog"
    },
    {
      "name": "chargeback",
      "description": "Chargeback"
    },
    {
      "name": "chat",
      "description": "OpenAI-compatible chat"
    },
    {
      "name": "cid",
      "description": "Cid"
    },
    {
      "name": "cloud",
      "description": "Cloud"
    },
    {
      "name": "compile",
      "description": "Compile"
    },
    {
      "name": "compliance",
      "description": "Compliance"
    },
    {
      "name": "compose",
      "description": "Compose"
    },
    {
      "name": "concepts",
      "description": "Concepts"
    },
    {
      "name": "connectors",
      "description": "Connectors"
    },
    {
      "name": "copyright",
      "description": "Copyright"
    },
    {
      "name": "credential",
      "description": "Credential"
    },
    {
      "name": "datasets",
      "description": "Datasets"
    },
    {
      "name": "deploy",
      "description": "Deploy"
    },
    {
      "name": "device",
      "description": "Device"
    },
    {
      "name": "devices",
      "description": "Devices"
    },
    {
      "name": "diagnose",
      "description": "Diagnose"
    },
    {
      "name": "distill",
      "description": "Distill"
    },
    {
      "name": "drift",
      "description": "Drift"
    },
    {
      "name": "drift-alert",
      "description": "Drift Alert"
    },
    {
      "name": "embed",
      "description": "Embed"
    },
    {
      "name": "embeddings",
      "description": "Embeddings"
    },
    {
      "name": "eval",
      "description": "Evaluation"
    },
    {
      "name": "evidence",
      "description": "Evidence"
    },
    {
      "name": "experts",
      "description": "Experts"
    },
    {
      "name": "export",
      "description": "Export"
    },
    {
      "name": "failure-modes",
      "description": "Failure Modes"
    },
    {
      "name": "federated",
      "description": "Federated"
    },
    {
      "name": "fit",
      "description": "Fit"
    },
    {
      "name": "fl",
      "description": "Fl"
    },
    {
      "name": "free",
      "description": "Free"
    },
    {
      "name": "gateway",
      "description": "Gateway"
    },
    {
      "name": "gemini",
      "description": "Gemini"
    },
    {
      "name": "hardware",
      "description": "Hardware"
    },
    {
      "name": "health",
      "description": "Health"
    },
    {
      "name": "hub",
      "description": "Hub"
    },
    {
      "name": "import",
      "description": "Import"
    },
    {
      "name": "inspect",
      "description": "Inspect"
    },
    {
      "name": "intent",
      "description": "Intent"
    },
    {
      "name": "ir",
      "description": "Ir"
    },
    {
      "name": "jobs",
      "description": "Jobs"
    },
    {
      "name": "keys",
      "description": "Keys"
    },
    {
      "name": "kolmbench",
      "description": "Kolmbench"
    },
    {
      "name": "label-queue",
      "description": "Label Queue"
    },
    {
      "name": "labels",
      "description": "Labels"
    },
    {
      "name": "lake",
      "description": "Lake"
    },
    {
      "name": "lang",
      "description": "Lang"
    },
    {
      "name": "lead",
      "description": "Lead"
    },
    {
      "name": "library",
      "description": "Library"
    },
    {
      "name": "lineage",
      "description": "Lineage"
    },
    {
      "name": "lingual",
      "description": "Lingual"
    },
    {
      "name": "long-context",
      "description": "Long Context"
    },
    {
      "name": "loop",
      "description": "Value-loop"
    },
    {
      "name": "marketplace",
      "description": "Marketplace"
    },
    {
      "name": "media",
      "description": "Media"
    },
    {
      "name": "memory",
      "description": "Memory"
    },
    {
      "name": "merge",
      "description": "Merge"
    },
    {
      "name": "messages",
      "description": "Anthropic-compatible messages"
    },
    {
      "name": "meta",
      "description": "Meta"
    },
    {
      "name": "metrics",
      "description": "Metrics"
    },
    {
      "name": "migrate",
      "description": "Migrate"
    },
    {
      "name": "mit",
      "description": "Mit"
    },
    {
      "name": "model-card",
      "description": "Model Card"
    },
    {
      "name": "models",
      "description": "Models"
    },
    {
      "name": "moderations",
      "description": "Moderations"
    },
    {
      "name": "multimodal",
      "description": "Multimodal"
    },
    {
      "name": "namespaces",
      "description": "Namespaces"
    },
    {
      "name": "nl",
      "description": "Nl"
    },
    {
      "name": "notifications",
      "description": "Notifications"
    },
    {
      "name": "numeric",
      "description": "Numeric"
    },
    {
      "name": "oauth",
      "description": "OAuth"
    },
    {
      "name": "openrouter",
      "description": "Openrouter"
    },
    {
      "name": "opportunities",
      "description": "Opportunities"
    },
    {
      "name": "packages",
      "description": "Packages"
    },
    {
      "name": "passport",
      "description": "Passport"
    },
    {
      "name": "pextract",
      "description": "Pextract"
    },
    {
      "name": "pipeline",
      "description": "Pipeline"
    },
    {
      "name": "pipelines",
      "description": "Pipelines"
    },
    {
      "name": "plans",
      "description": "Plans"
    },
    {
      "name": "plugins",
      "description": "Plugins"
    },
    {
      "name": "poisoning",
      "description": "Poisoning"
    },
    {
      "name": "pricing",
      "description": "Pricing"
    },
    {
      "name": "privacy",
      "description": "Privacy"
    },
    {
      "name": "procurement",
      "description": "Procurement"
    },
    {
      "name": "product",
      "description": "Product"
    },
    {
      "name": "public",
      "description": "Public"
    },
    {
      "name": "publish",
      "description": "Publish"
    },
    {
      "name": "quantization",
      "description": "Quantization"
    },
    {
      "name": "quantize",
      "description": "Quantize"
    },
    {
      "name": "ready",
      "description": "Ready"
    },
    {
      "name": "recall",
      "description": "Recall"
    },
    {
      "name": "receipts",
      "description": "Receipts"
    },
    {
      "name": "recipes",
      "description": "Recipes"
    },
    {
      "name": "redact",
      "description": "Redact"
    },
    {
      "name": "redteam",
      "description": "Redteam"
    },
    {
      "name": "reg",
      "description": "Reg"
    },
    {
      "name": "region",
      "description": "Region"
    },
    {
      "name": "registry",
      "description": "Registry"
    },
    {
      "name": "replay",
      "description": "Replay"
    },
    {
      "name": "residency",
      "description": "Residency"
    },
    {
      "name": "responses",
      "description": "OpenAI Responses"
    },
    {
      "name": "route",
      "description": "Route"
    },
    {
      "name": "routing",
      "description": "Routing"
    },
    {
      "name": "run",
      "description": "Run"
    },
    {
      "name": "runtime",
      "description": "Runtime"
    },
    {
      "name": "sales",
      "description": "Sales"
    },
    {
      "name": "savings",
      "description": "Savings"
    },
    {
      "name": "sbom",
      "description": "Sbom"
    },
    {
      "name": "scim",
      "description": "Scim"
    },
    {
      "name": "search",
      "description": "Search"
    },
    {
      "name": "seasonal",
      "description": "Seasonal"
    },
    {
      "name": "security",
      "description": "Security"
    },
    {
      "name": "seeds",
      "description": "Seeds"
    },
    {
      "name": "serve",
      "description": "Serve"
    },
    {
      "name": "session",
      "description": "Session"
    },
    {
      "name": "signin",
      "description": "Sign in"
    },
    {
      "name": "signout",
      "description": "Sign out"
    },
    {
      "name": "signup",
      "description": "Sign up"
    },
    {
      "name": "sigstore",
      "description": "Sigstore"
    },
    {
      "name": "sim",
      "description": "Simulation"
    },
    {
      "name": "simulations",
      "description": "Simulations"
    },
    {
      "name": "sla",
      "description": "Sla"
    },
    {
      "name": "sneakernet",
      "description": "Sneakernet"
    },
    {
      "name": "spec",
      "description": "Spec"
    },
    {
      "name": "spec-decode",
      "description": "Spec Decode"
    },
    {
      "name": "specialists",
      "description": "Specialists"
    },
    {
      "name": "speculative",
      "description": "Speculative"
    },
    {
      "name": "sso",
      "description": "Sso"
    },
    {
      "name": "staleness",
      "description": "Staleness"
    },
    {
      "name": "stat-sig",
      "description": "Stat Sig"
    },
    {
      "name": "status",
      "description": "Status"
    },
    {
      "name": "storage",
      "description": "Storage"
    },
    {
      "name": "streaming",
      "description": "Streaming"
    },
    {
      "name": "stripe",
      "description": "Stripe"
    },
    {
      "name": "sync",
      "description": "Sync"
    },
    {
      "name": "synthesize",
      "description": "Synthesis"
    },
    {
      "name": "synthetic",
      "description": "Synthetic"
    },
    {
      "name": "system",
      "description": "System"
    },
    {
      "name": "teacher",
      "description": "Teacher"
    },
    {
      "name": "teacher-versions",
      "description": "Teacher Versions"
    },
    {
      "name": "team",
      "description": "Team"
    },
    {
      "name": "teams",
      "description": "Teams"
    },
    {
      "name": "telemetry",
      "description": "Telemetry"
    },
    {
      "name": "test-device",
      "description": "Test Device"
    },
    {
      "name": "test-quants",
      "description": "Test Quants"
    },
    {
      "name": "trace",
      "description": "Trace"
    },
    {
      "name": "training",
      "description": "Training"
    },
    {
      "name": "tunnel",
      "description": "Tunnel"
    },
    {
      "name": "tunnels",
      "description": "Tunnels"
    },
    {
      "name": "verified-inference",
      "description": "Verified inference"
    },
    {
      "name": "verify",
      "description": "Verify"
    },
    {
      "name": "verticals",
      "description": "Verticals"
    },
    {
      "name": "video",
      "description": "Video"
    },
    {
      "name": "vision",
      "description": "Vision"
    },
    {
      "name": "vlm",
      "description": "Vlm"
    },
    {
      "name": "vlm-distill",
      "description": "Vlm Distill"
    },
    {
      "name": "whoami",
      "description": "Whoami"
    },
    {
      "name": "workflows",
      "description": "Workflows"
    },
    {
      "name": "wrap",
      "description": "Wrap"
    },
    {
      "name": "xlang",
      "description": "Xlang"
    },
    {
      "name": "yaml",
      "description": "Yaml"
    }
  ],
  "paths": {
    "/anthropic/v1/messages": {
      "post": {
        "tags": [
          "system"
        ],
        "operationId": "postAnthropicV1Messages",
        "summary": "/anthropic/v1/messages so SDKs that point BASE_URL at https://kolm.ai/anthropic",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Anthropic messages alias - same connector as /v1/messages, mounted under /anthropic/v1/messages so SDKs that point BASE_URL at https://kolm.ai/anthropic continue to work without rewriting the path.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "system"
        ],
        "operationId": "getHealth",
        "summary": "Public /health – no provider-key leakage. Authenticated callers can",
        "description": "Public /health – no provider-key leakage. Authenticated callers can hit /v1/health for the full snapshot including backend availability.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": [
          "system"
        ],
        "operationId": "getMetrics",
        "summary": "authMiddleware so a Prometheus scraper can reach it without an API",
        "description": "authMiddleware so a Prometheus scraper can reach it without an API key, optionally gated by KOLM_METRICS_BEARER for prod deployments. The honest-dev-default is public; setting the env var requires `Authorization: Bearer <token>` and returns a structured 401 envelope on mismatch so misconfigured scrapers fail loud.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/metrics/extended": {
      "get": {
        "tags": [
          "system"
        ],
        "operationId": "getMetricsExtended",
        "summary": "3 – /metrics/extended",
        "description": "3 – /metrics/extended",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/r/{token}": {},
    "/r/{token}/*": {},
    "/ready": {
      "get": {
        "tags": [
          "system"
        ],
        "operationId": "getReady",
        "summary": "Deploy readiness: public, low-detail, and suitable for platform health",
        "description": "Deploy readiness: public, low-detail, and suitable for platform health gates. /health stays green for static uptime; /ready fails when critical production-only configuration is missing.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/ready/deep": {
      "get": {
        "tags": [
          "system"
        ],
        "operationId": "getReadyDeep",
        "summary": "2 – /ready/deep",
        "description": "2 – /ready/deep",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/ab-tests": {
      "get": {
        "tags": [
          "ab-tests"
        ],
        "operationId": "getV1Abtests",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/ab-tests/create": {
      "post": {
        "tags": [
          "ab-tests"
        ],
        "operationId": "postV1AbtestsCreate",
        "summary": "Returns: {ok, ab_test_id, request_hash, arm, frozen, reason, version}",
        "description": "Returns: {ok, ab_test_id, request_hash, arm, frozen, reason, version} Auth-gated via req.tenant_record. Tenant fence forced from session, never from request body. Distinct prefix /v1/ab-tests/* so parallel agents on cannot collide on these route paths.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/ab-tests/{id}": {
      "get": {
        "tags": [
          "ab-tests"
        ],
        "operationId": "getV1AbtestsId",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/ab-tests/{id}/assignments": {
      "get": {
        "tags": [
          "ab-tests"
        ],
        "operationId": "getV1AbtestsIdAssignments",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/ab-tests/{id}/promote": {
      "post": {
        "tags": [
          "ab-tests"
        ],
        "operationId": "postV1AbtestsIdPromote",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/ab-tests/{id}/rollback": {
      "post": {
        "tags": [
          "ab-tests"
        ],
        "operationId": "postV1AbtestsIdRollback",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/ab-tests/{id}/stop": {
      "post": {
        "tags": [
          "ab-tests"
        ],
        "operationId": "postV1AbtestsIdStop",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/ab/configure": {
      "post": {
        "tags": [
          "ab"
        ],
        "operationId": "postV1AbConfigure",
        "summary": "── POST /v1/ab/configure ──────────────────────────────────────────────────",
        "description": "── POST /v1/ab/configure ────────────────────────────────────────────────── Body: { namespace, version_a, version_b, split?, idempotency_key? }",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/ab/feedback": {
      "post": {
        "tags": [
          "ab"
        ],
        "operationId": "postV1AbFeedback",
        "summary": "thumb:'up'|'down'?, comment?, ab_test_id? }",
        "description": "thumb:'up'|'down'?, comment?, ab_test_id? } Persists a row to the event-store under workflow_id=AB_FEEDBACK_WORKFLOW so ab-metrics.aggregate can read it. Also fans the row to the self-improvement queue when deps.selfImprovement.enqueue is wired.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/ab/metrics": {
      "get": {
        "tags": [
          "ab"
        ],
        "operationId": "getV1AbMetrics",
        "summary": "── GET /v1/ab/metrics?namespace=X ─────────────────────────────────────────",
        "description": "── GET /v1/ab/metrics?namespace=X ─────────────────────────────────────────",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/ab/promote": {
      "post": {
        "tags": [
          "ab"
        ],
        "operationId": "postV1AbPromote",
        "summary": "── POST /v1/ab/promote ────────────────────────────────────────────────────",
        "description": "── POST /v1/ab/promote ──────────────────────────────────────────────────── Body: { namespace, force?:boolean, thresholds?:{...} } When `force=true` we bypass the decide() gate and promote variant_b immediately. Otherwise we run the full evaluate() pipeline and only promote when decide() returns 'promote'.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/ab/status": {
      "get": {
        "tags": [
          "ab"
        ],
        "operationId": "getV1AbStatus",
        "summary": "── GET /v1/ab/status?namespace=X ──────────────────────────────────────────",
        "description": "── GET /v1/ab/status?namespace=X ──────────────────────────────────────────",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Current account: plan, compile count, remaining quota, API key.",
        "responses": {
          "200": {
            "description": "Account snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "operationId": "getV1Account"
      }
    },
    "/v1/account/audit-log": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountAuditlog",
        "summary": "/v1/account/audit-log surfaces the audit ledger for the calling",
        "description": "/v1/account/audit-log surfaces the audit ledger for the calling tenant. The audit-log.html page renders {entries:[{at,actor,op,payload}]}. added ?format=csv (defaults to json) so the page's export button and `kolm audit --format csv` CLI verb hit the same route. Also added ?since=<iso|epoch> filter so the CLI can scope to a recent window.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/audit-log/verify": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountAuditlogVerify",
        "summary": "GET /v1/account/audit-log/verify – chain-verify the calling",
        "description": "GET /v1/account/audit-log/verify – chain-verify the calling tenant's audit ledger (no body). Returns { ok, verified, chain_length, broken_at? } so the audit-log page can render a green/red state.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/audit/retention": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountAuditRetention",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/cancel": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountCancel",
        "summary": "Self-serve cancel / downgrade-to-free. Any paid tenant can drop to the",
        "description": "Self-serve cancel / downgrade-to-free. Any paid tenant can drop to the free tier without contacting anyone.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/account/change-plan": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountChangeplan",
        "summary": "Self-serve plan changes. Free is applied instantly (this is also the",
        "description": "Self-serve plan changes. Free is applied instantly (this is also the downgrade / cancel path). Paid plans return a Stripe Payment Link with `client_reference_id=<tenant_id>`; the plan is flipped only when the webhook receives `checkout.session.completed`. This guarantees the tenant cannot get paid features without paying.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/account/compliance-package": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountCompliancepackage",
        "summary": "can read end-to-end. Tenant metadata + signed receipts + audit log +",
        "description": "can read end-to-end. Tenant metadata + signed receipts + audit log + BAA-ready org details + control mapping snapshot. JSON only (no PHI ever transits this endpoint – receipts are payload-free by design). Auditors who want a literal ZIP can pipe `curl ... | jq -r .b64_zip | base64 -d`, but the JSON shape is the canonical artifact.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/delete": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountDelete",
        "summary": "Self-serve account delete. Soft-delete the tenant; receipts and artifacts",
        "description": "Self-serve account delete. Soft-delete the tenant; receipts and artifacts already shipped to users keep verifying since the cloud signing key is unchanged. The tenant can no longer authenticate. If they had an active Stripe subscription we ask Stripe to cancel it so they aren't charged again – best-effort, never blocks deletion.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/account/export": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountExport",
        "summary": "Self-serve data export (/privacy promises this). Returns a JSON bundle",
        "description": "Self-serve data export (/privacy promises this). Returns a JSON bundle of the tenant's row plus every concept, compile job, observation, and invocation we have on file for them. We strip secrets (api_key_hash, stripe_customer_id keeps existing for portability, billing tokens drop). Content-Disposition nudges browsers to save the file.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/keys": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountKeys",
        "summary": "Account API key list - returns the tenant primary key metadata without the raw secret.",
        "description": "Account API key list - returns the tenant primary key metadata without the raw secret.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountKeys",
        "summary": "Account API key create - rotates the tenant primary key and audits the requested label.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account API key create - rotates the tenant primary key and audits the requested label.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/account/keys/{prefix}": {
      "delete": {
        "tags": [
          "account"
        ],
        "operationId": "deleteV1AccountKeysPrefix",
        "summary": "Account API key revoke - rotates away a key prefix and returns the replacement secret.",
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "prefix path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account API key revoke - rotates away a key prefix and returns the replacement secret."
      }
    },
    "/v1/account/receipt-secret/prune": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountReceiptsecretPrune",
        "summary": "Drop a specific previous key from the verification ring. Receipts signed",
        "description": "Drop a specific previous key from the verification ring. Receipts signed with that key will no longer verify against this tenant after this call. The current key cannot be pruned – rotate first to retire it.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/account/receipt-secrets": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountReceiptsecrets",
        "summary": "List receipt-signing key metadata for the calling tenant. Secrets are",
        "description": "List receipt-signing key metadata for the calling tenant. Secrets are never returned – only the key_id, status, and rotation timestamps.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/rotate-key": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountRotatekey",
        "summary": "Account API key rotation - rotates the tenant's primary API key and returns the new secret.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account API key rotation - rotates the tenant's primary API key and returns the new secret.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/account/rotate-receipt-secret": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountRotatereceiptsecret",
        "summary": "Rotate the per-tenant receipt-signing secret. Previous secret is",
        "description": "Rotate the per-tenant receipt-signing secret. Previous secret is preserved so older signed artifacts and audit rows still verify.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/account/saml/metadata": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountSamlMetadata",
        "summary": "SP metadata is a static document an IdP fetches at federation-config",
        "description": "SP metadata is a static document an IdP fetches at federation-config time. It does NOT depend on entitlement (publishing the SP entity ID is fine even for tenants who can't yet bind to it).",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/settings": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountSettings",
        "summary": "Account settings read - returns tenant settings merged with current defaults.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account settings read - returns tenant settings merged with current defaults."
      },
      "put": {
        "tags": [
          "account"
        ],
        "operationId": "putV1AccountSettings",
        "summary": "Account settings update - persists whitelisted tenant settings and audits changed fields.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Account settings update - persists whitelisted tenant settings and audits changed fields.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/account/sso/configure": {
      "post": {
        "tags": [
          "account"
        ],
        "operationId": "postV1AccountSsoConfigure",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/account/sso/status": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountSsoStatus",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/account/state": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "getV1AccountState",
        "summary": "/account/overview \"What's next\" engine reads. Returns artifact + capture",
        "description": "/account/overview \"What's next\" engine reads. Returns artifact + capture + namespace counts, the age of the last artifact, age of the primary api key, plus a flat `signals` array each rule in whats-next.js matches on. Auth-gated (NOT in PUBLIC_API) – cross-tenant state leaks were what made /v1/intent/next add tenant_id scoping in.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/active-learning/summary": {
      "get": {
        "tags": [
          "active-learning"
        ],
        "operationId": "getV1ActivelearningSummary",
        "summary": "Honest empty-state: if active-learning-queue.js isn't on disk yet",
        "description": "Honest empty-state: if active-learning-queue.js isn't on disk yet (sibling agent still building, or this is a fresh deploy), return ok:true with module_missing:true so the dashboard can render a useful empty state instead of a 500.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/admin/audit": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminAudit",
        "summary": "Admin audit feed - newest audit events with tenant and operation metadata.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin audit feed - newest audit events with tenant and operation metadata."
      }
    },
    "/v1/admin/compile-jobs": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminCompilejobs",
        "summary": "Admin compile job feed - newest compile jobs with tenant, task, status, and score.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin compile job feed - newest compile jobs with tenant, task, status, and score."
      }
    },
    "/v1/admin/control-files": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminControlfiles",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/admin/control-files/{key}": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminControlfilesKey",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "key path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/admin/diagnostics": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminDiagnostics",
        "summary": "Admin diagnostics - checks data/artifact directories and selected runtime env flags.",
        "description": "Admin diagnostics - checks data/artifact directories and selected runtime env flags.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/admin/health": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminHealth",
        "summary": "Admin health snapshot - process, store, memory, region, and integration flags.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin health snapshot - process, store, memory, region, and integration flags."
      }
    },
    "/v1/admin/stats": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminStats",
        "summary": "Admin stats - aggregate tenants, usage, compile jobs, and audit-event counts.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin stats - aggregate tenants, usage, compile jobs, and audit-event counts."
      }
    },
    "/v1/admin/submissions": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminSubmissions",
        "summary": "Admin submissions list - returns all submitted project/contact records.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin submissions list - returns all submitted project/contact records."
      }
    },
    "/v1/admin/tenant": {
      "post": {
        "tags": [
          "admin"
        ],
        "operationId": "postV1AdminTenant",
        "summary": "Admin tenant provision - creates a tenant with quota and returns its API key.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Admin tenant provision - creates a tenant with quota and returns its API key.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/admin/tenants": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminTenants",
        "summary": "Admin tenant list - scrubbed cross-tenant view with q/limit filters.",
        "description": "Admin tenant list - scrubbed cross-tenant view with q/limit filters.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/admin/waitlist": {
      "get": {
        "tags": [
          "admin"
        ],
        "operationId": "getV1AdminWaitlist",
        "summary": "Admin waitlist list - returns all waitlist rows for admin triage.",
        "description": "Admin waitlist list - returns all waitlist rows for admin triage.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1Agents",
        "summary": "agent telemetry routes fence on req.tenant_record and forward",
        "description": "agent telemetry routes fence on req.tenant_record and forward req.tenant_record.id as tenant_id into the helper so cross-tenant rows never appear in the rollup. _tenantScope returns null for admin (cross-tenant reads allowed) and the canonical tenant_id otherwise.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/agents/failing": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsFailing",
        "summary": "Top failing agent sessions for the caller's tenant.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Top failing agent sessions for the caller's tenant."
      }
    },
    "/v1/agents/recommend": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsRecommend",
        "summary": "Agent model recommendation for a tenant-scoped application and task hint.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Agent model recommendation for a tenant-scoped application and task hint."
      }
    },
    "/v1/agents/sessions": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsSessions",
        "summary": "Agent sessions list for the caller's tenant.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Agent sessions list for the caller's tenant."
      }
    },
    "/v1/agents/sessions/{id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsSessionsId",
        "summary": "Agent session detail scoped to the caller's tenant.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Agent session detail scoped to the caller's tenant."
      }
    },
    "/v1/agents/stats": {
      "get": {
        "tags": [
          "agents"
        ],
        "operationId": "getV1AgentsStats",
        "summary": "Agent telemetry aggregate stats for the caller's tenant.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Agent telemetry aggregate stats for the caller's tenant."
      }
    },
    "/v1/airgap/bakeoff": {
      "post": {
        "tags": [
          "airgap"
        ],
        "operationId": "postV1AirgapBakeoff",
        "summary": "POST /v1/airgap/bakeoff",
        "description": "POST /v1/airgap/bakeoff",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/airgap/distill/run": {
      "post": {
        "tags": [
          "airgap"
        ],
        "operationId": "postV1AirgapDistillRun",
        "summary": "POST /v1/airgap/distill/run",
        "description": "POST /v1/airgap/distill/run",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/airgap/distill/status/{id}": {
      "get": {
        "tags": [
          "airgap"
        ],
        "operationId": "getV1AirgapDistillStatusId",
        "summary": "GET /v1/airgap/distill/status/:id",
        "description": "GET /v1/airgap/distill/status/:id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/airgap/doctor": {
      "get": {
        "tags": [
          "airgap"
        ],
        "operationId": "getV1AirgapDoctor",
        "summary": "GET /v1/airgap/doctor",
        "description": "GET /v1/airgap/doctor",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/airgap/jobs": {
      "get": {
        "tags": [
          "airgap"
        ],
        "operationId": "getV1AirgapJobs",
        "summary": "/v1/airgap/jobs – bare collection GET that lists tenant air-gapped",
        "description": "/v1/airgap/jobs – bare collection GET that lists tenant air-gapped distill + sneakernet jobs. Each job is keyed by run_id; the actual status route is /v1/airgap/distill/status/:id. This bare GET returns an empty envelope until a wave wires the per-tenant job index.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/airgap/sneakernet/bundle": {
      "post": {
        "tags": [
          "airgap"
        ],
        "operationId": "postV1AirgapSneakernetBundle",
        "summary": "POST /v1/airgap/sneakernet/bundle",
        "description": "POST /v1/airgap/sneakernet/bundle",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/airgap/sneakernet/verify": {
      "post": {
        "tags": [
          "airgap"
        ],
        "operationId": "postV1AirgapSneakernetVerify",
        "summary": "POST /v1/airgap/sneakernet/verify",
        "description": "POST /v1/airgap/sneakernet/verify",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/airgap/status": {
      "get": {
        "tags": [
          "airgap"
        ],
        "operationId": "getV1AirgapStatus",
        "summary": "All four auth-gate on req.tenant_record. defense-in-depth: every",
        "description": "All four auth-gate on req.tenant_record. defense-in-depth: every route binds tenant into the args so a future schema change cannot leak across tenants.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/airgap/test": {
      "post": {
        "tags": [
          "airgap"
        ],
        "operationId": "postV1AirgapTest",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/anon/bootstrap": {
      "post": {
        "tags": [
          "anon"
        ],
        "operationId": "postV1AnonBootstrap",
        "summary": "Anonymous CLI auth (robots / agents)",
        "description": "Anonymous CLI auth (robots / agents) Bootstrap: returns an anon_token that the CLI stores locally. 30-day TTL. No email, no signup. Designed for agents that need to start working in <1 second.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/anon/claim": {
      "post": {
        "tags": [
          "anon"
        ],
        "operationId": "postV1AnonClaim",
        "summary": "Claim: convert an anonymous workspace into a permanent account.",
        "description": "Claim: convert an anonymous workspace into a permanent account. if email matches an existing real tenant: merge the anon's recipes into it, return existing key else: upgrade the anon tenant in-place to a real tenant, rotate to ks_*, return new key",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/approvals": {
      "get": {
        "tags": [
          "approvals"
        ],
        "operationId": "getV1Approvals",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/approvals/request": {
      "post": {
        "tags": [
          "approvals"
        ],
        "operationId": "postV1ApprovalsRequest",
        "summary": "Tenant fence: tenant_id forced from req.tenant_record.id. Status",
        "description": "Tenant fence: tenant_id forced from req.tenant_record.id. Status transitions return honest invalid_transition envelopes - never silently re-write state. version stamp matches /^w782-/.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/approvals/{id}": {
      "get": {
        "tags": [
          "approvals"
        ],
        "operationId": "getV1ApprovalsId",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/approvals/{id}/approve": {
      "post": {
        "tags": [
          "approvals"
        ],
        "operationId": "postV1ApprovalsIdApprove",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/approvals/{id}/notify": {
      "post": {
        "tags": [
          "approvals"
        ],
        "operationId": "postV1ApprovalsIdNotify",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/approvals/{id}/reject": {
      "post": {
        "tags": [
          "approvals"
        ],
        "operationId": "postV1ApprovalsIdReject",
        "summary": "(source-indexed route; contract generated from route source)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/artifact/diff": {
      "post": {
        "tags": [
          "artifact"
        ],
        "operationId": "postV1ArtifactDiff",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/artifact/lineage": {
      "post": {
        "tags": [
          "artifact"
        ],
        "operationId": "postV1ArtifactLineage",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/artifact/verify-manifest": {
      "post": {
        "tags": [
          "artifact"
        ],
        "operationId": "postV1ArtifactVerifymanifest",
        "summary": "for callers that have the manifest hashes block in hand (e.g. a CLI",
        "description": "for callers that have the manifest hashes block in hand (e.g. a CLI that just downloaded the artifact and parsed its manifest.json). No auth required – the check is pure: recompute CID from hashes, compare to the claimed CID. Returns `manifest_hash_mismatch` envelope on disagreement, `verified:true` + recomputed cid on match.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/artifacts": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "operationId": "getV1Artifacts",
        "summary": "Artifact list - exposes completed compile jobs as artifact records with hashes and downloads.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Artifact list - exposes completed compile jobs as artifact records with hashes and downloads."
      }
    },
    "/v1/artifacts/dependency-graph": {
      "post": {
        "tags": [
          "artifacts"
        ],
        "operationId": "postV1ArtifactsDependencygraph",
        "summary": "(source-indexed route; contract generated from route source)",
        "x-kolm-source-indexed": true,
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericRequest"
              },
              "example": {
                "ok": true
              }
            }
          }
        }
      }
    },
    "/v1/artifacts/{id}": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "operationId": "getV1ArtifactsId",
        "summary": "Artifact detail - returns one tenant-scoped compile artifact by job id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Artifact detail - returns one tenant-scoped compile artifact by job id."
      }
    },
    "/v1/artifacts/{id}/download": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "operationId": "getV1ArtifactsIdDownload",
        "summary": "Artifact download - streams the completed artifact zip by id with readiness/expiry errors.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "description": "Artifact download - streams the completed artifact zip by id with readiness/expiry errors."
      }
    },
    "/v1/artifacts/{id}/evidence-trace": {
      "get": {
        "tags": [
          "artifacts"
        ],
        "operationId": "getV1ArtifactsIdEvidencetrace",
        "summary": "GET /v1/artifacts/:id/evidence-trace – return the full ancestor DAG",
        "description": "GET /v1/artifacts/:id/evidence-trace – return the full ancestor DAG for an artifact. Returns 404 when the artifact has no evidence DAG on disk. The shape is { ok, artifact_id, dag: {nodes, edges} } so the caller can re-build the DAG client-side and walk it.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonEnvelope"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
[...]
